body{
    background: #14141f !important;
}

h1,h2{
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

p{
    font-weight: 400;
    font-size: 1rem;
    color: white;
    opacity: 85%;
    line-height: 35px;
}

a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

section{
    padding: 60px 0px;
}