@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


.header{
    margin-top: 130px;
    font-family: 'Jua', sans-serif;
    font-size: 80px;
    font-weight: 700;
    padding: 50px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_style{
    background: linear-gradient(-45deg, #e250e5,#4b50e6,
       #e250e5, #4b50e6);
       background-size: 100% 100%;
       background-clip: text;
       -webkit-text-stroke: 3px transparent;
       -webkit-text-fill-color: #14141f;
}