.single-img{
    border-radius: 8px;
}

.single-seen span i {
    color: white;
    padding: 5px;
    background: black;
    border-radius: 50px;
    cursor: pointer;
}

.N_detail img{
    border: 2px solid black;
    box-shadow: 0 1em 2.5em 0.35em rgba(17, 17, 17, 0.25), 0 0.25em 0.5em rgba(51, 192, 176, 0.65), 0 0.1em 0.35em rgba(46, 113, 105, 0.85), inset -0.025em 0.3em 0.4em
     rgba(255, 255, 255, 0.68), inset 0 0.05em 0.05em rgba(255, 255, 255, 0.95);
}

.single-seen span{
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

section{
    margin-top: 100px;
}

.bid_btn1 {
    padding: 8px 25px;
    background: #5142fc;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s;
    margin-top: 30px;
    border: 2px solid;
}

.bid_btn1 a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.bid_btn1:hover{
    background: white;
}

.bid_btn1:hover a{
    color: #5142fc;
}

.bid_btn1:hover i{
    color: #5142fc;
}

.attribute h4{
    margin-top: 4px;
    display : flex;
    justify-content : center;
    align-items : center;
    background: linear-gradient(-45deg, #3666d6,#4b50e6,
    #3a3690, #4b50e6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #b6b6d4;
    padding: 3px;
}
.attribute span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at top, #40b6dd, #076671);
    margin-top: 10px;
    margin-left: 90px;
    border: 2px  solid black;
    width: 70%;
    border-radius: 20px;
    
}