@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.topfold{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    font-family: 'Jua', sans-serif;
}

.tf-left{
    display: flex;
    flex-direction: column;   
    
}

.tf__title{
    color: white;
    background: black;
       background-size: 100% 100%;
       background-clip: text;
       -webkit-text-stroke: 6px transparent;
}

.tf-heading {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}

.tf-des{
    font-size: 20px;
    margin: 24px 0px;
    color: white;
    background: black;
       background-size: 100% 100%;
       background-clip: text;
       -webkit-text-stroke: 6px transparent;
}

.bbtn1{
    background: none;
    background: radial-gradient(ellipse at top, #56b1d0, #64d6e2);
    border: none;
    border-radius: 30px;
    color: rgb(252, 226, 226);
    cursor: pointer;
    box-shadow: 0 1em 2.5em 0.35em rgba(17, 17, 17, 0.25), 0 0.25em 0.5em rgba(51, 192, 176, 0.65), 0 0.1em 0.35em rgba(46, 113, 105, 0.85), inset -0.025em 0.3em 0.4em rgba(255, 255, 255, 0.68), inset 0 0.05em 0.05em rgba(255, 255, 255, 0.95);
    font: inherit;
    font-size: 1.25rem;
    padding: 1em 3em;
    position: relative;
    margin-top: 200px;
    margin-left: -180px;
}
.bbtn2{
    background: none;
    background: radial-gradient(ellipse at top, #56b1d0, #64d6e2);
    border: none;
    border-radius: 30px;
    color: rgb(252, 226, 226);
    cursor: pointer;
    box-shadow: 0 1em 2.5em 0.35em rgba(17, 17, 17, 0.25),
     0 0.25em 0.5em rgba(51, 192, 176, 0.65), 0 0.1em 0.35em
      rgba(46, 113, 105, 0.85), inset -0.025em 0.3em 0.4em 
      rgba(255, 255, 255, 0.68), inset 0 0.05em 0.05em
       rgba(255, 255, 255, 0.95);
    font: inherit;
    font-size: 1.25rem;
    padding: 1em 3em;
    position: relative;
    margin-left: -50px;
}


.tf-r-bg-blob{
    z-index: -999;
    margin-top: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 550px;
    background-color: rgba(143,0,255,0.35);
    filter: blur(160.58px);
    position: absolute;

    
}